body {
    position: relative;
    margin: 1.5rem;
    background-color: #fcfcfc;
}

h1 {
    text-transform: uppercase;
    font-size: 1rem;
}

.grid-container {
    display: grid;
    gap: 1em;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 5% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.card {
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5%;
    padding: 10px;
    background-color: white;
}

.avatar {
    float: left;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.text-container {
    float: right;
}

.name {
    font-size: 1rem;
}

.email,
.address {
    font-size: .5rem;
    color: #778;
}

.modal-avatar {
    border-radius: 50%;
}

.modal-phone,
.modal-email,
.modal-address,
.modal-birthday {
    color: #778;
}
