* {
    box-sizing: border-box;
}

canvas {
    max-width: 100%;
}

body {
    max-width: 100%;
    padding: 1.5rem;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.grid-container {
    display: grid;
    gap: 1em;
    max-width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 100%;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
}

.modal-content {
    position: absolute;
    top: 5em;
    left: 5em;
    right: 5em;
    bottom: 5em;
    background:white;
    text-align: center;
    border-radius: 1%;
}

.modal-close {
    position: absolute;
    right: 90px;
    top: 50px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.card {
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5%;
    background-color: white;
    text-align: center;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 25%;
    margin-top: 1.5rem;
}

.name {
    font-size: 1.5rem;
}

.email,
.address {
    font-size: 1rem;
    color: #778;
}

.modal-avatar {
    border-radius: 10%;
    margin-top: 3em;
}

.modal-name {
    font-size: 2em;
}

.modal-phone,
.modal-email,
.modal-address,
.modal-birthday {
    color: #778;
    font-size: 1.5em;
}
